.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 95%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.logo {
    height: 68px;
    width: 210px;
}

.nav_ul {
    display: flex;
    gap: 57px;
    color: #FF6060;
    list-style-type: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 1440px;
    padding-top: 40px;
    margin: 0 auto;
}

@media screen and (max-width:992px) {
    .logo {
        width: 145px;
        height: 47px;
    }

    .header {
        max-width: 90%;
    }

    .nav_ul {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: right;
        gap: 30px;

    }

    body {
        padding-top: 20px;
    }
}