.banner_home {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../../img/banner-00.png);
    background-position: 50%;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    height: 223px;
    justify-content: center;
    margin: 43px auto;
    max-width: 95%;
    padding: 20px;
    position: relative;
}

.banner_about {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../../img/banner-01.png);
    background-position: 50%;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    height: 223px;
    justify-content: center;
    margin: 43px auto;
    max-width: 95%;
    padding: 20px;
    position: relative;
}

.banner_p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 992px) {

    .banner_home {
        height: 111px;
        width: 90%;
        margin: 20px auto;
    }

    .banner_about {
        height: 111px;
        width: 90%;
        margin: 20px auto;
    }

    .banner_p {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}